.footer {
  color: #eee;
  background-color: black;
}

.main-info {
  display: flex;
  justify-content: space-between;
  padding: 2.7rem 4rem;
}

.logo-address {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.address-en {
  margin-top: 0.5rem;
  color: #777;
}

.tel {
  margin-top: auto;
}

.sub-info {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 4rem;
  font-size: 0.875rem;
  border-top: 2px solid rgba(51 51 51/ 80%);
}

.copyright {
  display: flex;
  gap: 1.5rem;
  color: #777;
}

.copyright span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.footer-menu {
  display: flex;
  gap: 0.75rem;
}

.footer-menu a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  text-underline-offset: 4px;
  opacity: 0.5;
  transition: 0.2s;
}

.footer-menu a:hover {
  opacity: 1;
}

.dot {
  display: inline-flex;
  align-items: center;
}
