.footer {
  color: #eee;
  background-color: black;
}

.main-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.logo-address {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

.address-en {
  margin-top: 0.5rem;
  color: #777;
}

.tel {
  margin-top: auto;
  text-align: center;
}

@media screen and (1024px <= width) {
  .main-info {
    flex-direction: row;
    gap: 0.5rem;
    padding: 2.7rem 4rem;
  }

  .logo-address {
    flex-direction: row;
    text-align: start;
  }
}

.sub-info {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  font-size: 0.875rem;
  border-top: 2px solid rgba(51 51 51/ 80%);
}

.copyright {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  color: #777;
}

.copyright span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.footer-menu {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
}

.footer-menu a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  text-underline-offset: 4px;
  opacity: 0.5;
  transition: 0.2s;
}

.footer-menu a:hover {
  opacity: 1;
}

.dot {
  display: inline-flex;
  align-items: center;
}

@media screen and (768px <= width) {
  .sub-info {
    flex-direction: row;
    justify-content: space-between;
    padding: 1.25rem 4rem;
  }

  .copyright {
    flex-direction: row;
    gap: 1.5rem;
    justify-content: flex-start;
  }

  .footer-menu {
    justify-content: flex-start;
  }
}
