.container {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  overflow: hidden;
}

.card-list-container {
  display: flex;
  margin-left: -10rem;
}

@media screen and (width <= 1280px) {
  .card-list-container {
    margin-left: -5rem;
  }
}
