.header {
  display: flex;
  align-items: center;
}

.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  padding: 0 0.625rem;
  margin-right: 0.5rem;
  font-size: var(--text-xs);
  font-weight: 500;
  color: #fff;
  background-color: #00516f;
}

.title {
  display: block;
  font-size: var(--text-lg);
  font-weight: 600;
}

.content {
  margin-top: 0.5rem;
  color: #666;
  word-break: keep-all;
}
