.container {
  position: relative;
  width: 100%;
  height: 12rem;
  margin-top: 1.5rem;
  transition: 0.2s ease-in-out;
}

.container:hover {
  opacity: 0.8;
}

.card {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  background: linear-gradient(
    to bottom,
    rgb(255 255 255 / 5%),
    rgb(0 0 0 / 100%)
  );
}

.card-header {
  display: flex;
  gap: 0.5rem;
}

.tag {
  padding: 0.5rem 0.625rem;
  font-size: 0.75rem;
  font-weight: 700;
  color: #fff;
  background-color: rgb(0 0 0 / 50%);
}

.solution-card-title {
  font-size: var(--text-xl);
  font-weight: 600;
  line-height: 1;
  color: #eee;
}

.solution-card-sub {
  margin-top: 0.75rem;
  font-size: var(--text-sm);
  line-height: 1.5;
  color: #eee;
  word-break: keep-all;
}

@media screen and (768px <= width < 1280px) {
  .container {
    height: 14rem;
  }

  .solution-card-title {
    font-size: var(--text-2xl);
  }

  .solution-card-sub {
    font-size: var(--text-lg);
  }

  .card {
    padding: 1.875rem;
  }
}

@media screen and (1280px <= width) {
  .container {
    width: 25rem;
    height: 25rem;
    margin-top: 0;
  }

  .container:nth-child(2) {
    margin-top: 2.5rem;
  }

  .solution-card-title {
    font-size: 2rem;
  }

  .solution-card-sub {
    font-size: 1.25rem;
    white-space: pre-line;
  }

  .card {
    padding: 1.875rem;
    background: linear-gradient(
      to bottom,
      rgb(255 255 255 / 5%),
      rgb(0 0 0 / 80%)
    );
  }
}
