.background {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: lightgray;
}

.container {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 550px;
  height: 180px;
  padding: 2.25rem 1.875rem;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 700;
}

.title {
  font-size: 1.875rem;
  font-weight: 700;
}

.index {
  font-size: 1.5rem;
  font-weight: 700;
}

.content {
  margin-top: 1.25rem;
  font-weight: 600;
  word-break: keep-all;
}
