.container {
  position: relative;
  flex: 0 0 1200px;
  min-width: 0;
  height: 500px;
  padding-left: 10rem;
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
}

.card {
  position: absolute;
  right: -1px;
  bottom: 0;
  width: 550px;
  height: 180px;
  padding: 2.25rem 1.875rem;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 700;
}

.title {
  font-size: 1.875rem;
  letter-spacing: -0.1rem;
}

.index {
  font-size: 1.5rem;
}

.content {
  margin-top: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
  word-break: keep-all;
}
