.container {
  max-width: 900px;
  padding: 0 2rem;
  margin: 0 auto;
  background-color: #fff;
}

.container > div {
  padding: 1.5rem 0 5rem;
  background-color: #fff;
}

.container h3 {
  font-size: var(--text-xl);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
}

.p {
  margin: 0.5rem 0;
  word-break: keep-all;
}

.qna {
  padding: 2rem calc(50vw - 50%);
  margin: 0 calc(50% - 50vw);
  background-color: #f5f5f5;
}

.qna > h3 {
  color: #00516f;
}

.qna > ul > li {
  margin: 0.2rem 1.5rem;
}

.desc {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 1rem;
}
