.contact-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.125rem;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #333;
  border-radius: 9999px;
  transition: 0.3s;
}

.contact-button:hover {
  font-weight: 600;
  color: #fff;
  background-color: #00516f;
  border-color: #00516f;
}

.header {
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  width: 100%;
  height: 96px;
  padding: 1rem 4rem;
  color: #333;
  background-color: white;
  border-bottom: 1px solid rgba(51 51 51/ 50%);
  transition: 0.2s;
}

.transparent {
  color: #fff;
  background-color: transparent;
  border-bottom: 1px solid #fff;
}

.transparent .contact-button {
  font-weight: 600;
  border: 1px solid #ddd;
}

.transparent .contact-button:hover {
  font-weight: 600;
  color: #333;
  background-color: #fff;
  border-color: #fff;
}

.container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  gap: 5rem;
}

.nav-menu {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.125rem;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s;
}

.nav-menu:hover {
  opacity: 0.6;
}
