.contact-button {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.125rem;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #333;
  border-radius: 9999px;
  transition: 0.3s;
}

.contact-button:hover {
  font-weight: 600;
  color: #fff;
  background-color: #00516f;
  border-color: #00516f;
}

.header {
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  width: 100%;
  height: 76px;
  padding: 1rem;
  color: #333;
  background-color: white;
  border-bottom: 1px solid rgba(51 51 51/ 50%);
  transition: 0.2s;
}

.transparent .contact-button {
  font-weight: 600;
  border: 1px solid #ddd;
}

.mobile-menu nav .contact-button {
  display: inline-flex;
  margin: 0 auto;
}

.transparent {
  color: #fff;
  background-color: transparent;
  border-bottom: 1px solid #fff;
}

.transparent .contact-button:hover {
  font-weight: 600;
  color: #333;
  background-color: #fff;
  border-color: #fff;
}

.container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
}

.nav-menu {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.125rem;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s;
}

.nav-menu:hover {
  opacity: 0.6;
}

.mobile-menu {
  position: fixed;
  top: 76px;
  right: 0;
  left: 0;
  display: block;
  background-color: #fff;
  transform: translateX(0);
}

.mobile-menu.close {
  pointer-events: none;
  transform: translateX(0);
}

.mobile-menu.open {
  pointer-events: all;
}

.mobile-menu nav {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  transition: all 0.3s ease-in-out;
  transform: translateX(100%);
}

.mobile-menu nav .nav-menu {
  margin: 0 auto;
}

.mobile-menu-button {
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (648px <= width) {
  .contact-button {
    display: inline-flex;
  }

  .mobile-menu-button {
    display: none;
  }
}

@media screen and (1024px <= width) {
  .header {
    padding: 1rem 4rem;
  }
}
