.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25rem;
  height: 25rem;
  padding: 1.875rem;
  color: black;
  background-image: url("/test.jpg");
  background-size: cover;
}

.card-header {
  display: flex;
  gap: 0.5rem;
}

.tag {
  padding: 0.5rem 0.625rem;
  font-size: 0.75rem;
  font-weight: 700;
  background-color: gray;
}

.section {
  min-height: 100vh;
  padding: 8rem 2rem;

  /* width: 100vw; */
  background-color: white;
}

.solution-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.solution-card-title {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.solution-card-sub {
  margin-top: 0.75rem;
  font-size: 1.25rem;
  font-weight: 600;
}
