.year {
  font-size: var(--text-xl);
  font-weight: 700;
  color: hsl(var(--primary));
}

.content {
  margin: 0.5rem 0 1rem 1.5rem;
}

.content > li {
  padding-bottom: 0.25rem;
}

.history {
  margin-top: 1rem;
}
