.content {
  display: flex;
}

.item {
  flex: 0 0 100%;
  min-width: 0;
}

.button {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 9999px;
}

.button-horizontal-prev {
  top: 50%;
  left: -3rem;
  transform: translateY(-50%);
}

.button-vertical-prev {
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  transform: rotate(90deg);
}

.button-horizontal-next {
  top: 50%;
  right: -3rem;
  transform: translateY(-50%);
}

.button-vertical-next {
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%);
  transform: rotate(90deg);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
