.container {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  overflow: hidden;
}

.card-list-container {
  display: flex;
  margin-left: -1rem;
}

@media screen and (768px <= width < 1280px) {
  .card-list-container {
    margin-left: -5rem;
  }
}

@media screen and (1280px <= width) {
  .card-list-container {
    margin-left: -10rem;
  }
}
