.item {
  border-bottom: 1px solid #eaeaea;
}

.header {
  display: flex;
}

.trigger {
  scroll-margin-top: 76px;
  display: flex;
  flex: 1 1 0%;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.15rem;
  font-size: var(--text-lg);
  font-weight: 600;
  color: #333;
  text-align: start;
  word-break: keep-all;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-property: all;
}

.trigger:hover {
  text-decoration: underline;
}

.trigger[data-state="open"] > svg {
  transform: rotate(180deg);
}

.icon {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  color: #666;
  transition-duration: 0.2s;
  transition-property: transform;
}

.content {
  overflow: hidden;
  font-size: var(--text-md);
  font-weight: 500;
  line-height: 1.7;
  color: #666;
  word-break: keep-all;
}

.content[data-state="open"] {
  animation: slide-down 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.content[data-state="closed"] {
  animation: slide-up 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.text {
  padding-bottom: 1rem;
}

@keyframes slide-down {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slide-up {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}
