.card {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  padding: 1.5rem;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ddd;
  outline: 4px solid transparent;
  transition: 0.2s;
}

.card:hover {
  outline: 4px solid hsl(var(--primary));
}

@media screen and (768px <= width) {
  .card {
    flex-direction: column;
    width: 280px;
    height: 256px;
    padding: 30px;
  }
}

.faq-card:hover {
  outline: 4px solid #00516f;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media screen and (768px <= width) {
  .header {
    gap: 1.5rem;
  }
}

.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 1.875rem;
  padding: 0 0.625rem;
  margin-right: auto;
  font-size: var(--text-xs);
  font-weight: 500;
  color: #fff;
  background-color: #00516f;
}

.title {
  display: block;
  font-size: var(--text-xl);
  font-weight: 700;
}

@media screen and (768px <= width) {
  .title {
    font-size: 1.5rem;
    white-space: pre-line;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
