.container {
  margin-top: 76px;
  background-color: #fff;
}

.header {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7rem;
  color: #fff;
  background-color: #00516f;
}

.nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: 2.5rem;
  padding: 0.25rem 2rem;
  font-size: var(--font-sm);
  background-color: #fafafa;
  border-bottom: 1px solid #eaeaea;
}
