.card {
  padding: 1.5rem;
  background-color: #fafafa;
  border: 1px solid #eaeaea;
}

.name {
  font-size: var(--text-xl);
  font-weight: 700;
  color: hsl(var(--primary));
}

.career {
  margin-top: 0.5rem;
  color: #666;
}

.career > li {
  line-height: 1.7;
  list-style: none;
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
}

@media screen and (1024px <= width) {
  .wrap {
    flex-direction: row;
  }

  .card {
    flex: 1;
  }
}
