.card {
  padding: 1.5rem;
  background-color: antiquewhite;
}

.name {
  font-size: var(--text-lg);
  font-weight: 600;
}

.career {
  margin-top: 0.5rem;
}

.career > li {
  list-style: none;
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
}
