.section-header {
  padding: 1.5rem 0 2rem;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: var(--text-3xl);
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}

.desc {
  margin-top: 0.5rem;
  font-size: var(--text-md);
  font-weight: 500;
  color: #444;
  word-break: keep-all;
}

.title-dark {
  color: #fff;
}

.desc-dark {
  color: #fff;
}

@media screen and (1024px <= width) {
  .section-header {
    max-width: 1024px;
    padding: 1.5rem 0 5rem;
  }

  .title {
    font-size: 3.375rem;
  }

  .desc {
    margin-top: 1.5rem;
    font-size: 1.5rem;
  }
}
