.section-header {
  text-align: center;
  color: gray;
  margin-bottom: 5rem;
}

.title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.375rem;
}

.desc {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
