.section-header {
  margin-bottom: 5rem;
  color: #000;
  text-align: center;
}

.title {
  font-size: 3.375rem;
  font-weight: 700;
  text-transform: uppercase;
}

.desc {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
